<div class="container login-box">
  <div class="login-box-main row">
    <div class="col-6 login__image">
      <img src="./assets/images/Wallpaper.jpg" class="">
    </div>
    <div class="col-6 login__content">
      <div class="h2 login__content__title text-center">Avocado</div>
      <div class="login__content__description text-center">
        Welcome to Avocado
      </div>
      <div class="login__content__form">
        <div class="form">
          <input type="text" name="name" autocomplete="off" required>
          <label for="name" class="label-name">
            <span class="content-name">Name</span>
          </label>
        </div>
        <div class="form">
          <input type="password" name="password" autocomplete="no" required>
          <label for="password" class="label-name">
            <span class="content-name">Password</span>
          </label>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-secondary">Sign in</button>
      </div>
    </div>
  </div>
</div>
