@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.login-box {
  padding: 20px;
  background-color: #707672;
  line-height: 1.2;
  .login-box-main {
    padding: 50px;
  }

  .login__image {
    img {
      width: 100%;
      height: 100%;
    }

    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .login__content {
    background-color: white;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding: 40px;

    .login__content__title {
      font-family: 'Dancing Script', cursive;
    }

    .login__content__description {
      color: grey;
      font-weight: 400;
      margin-top: 50px;
    }

    .login__content__form {
      margin-top: 50px;
      width: 400px;
      padding-left: 50px;
    }
  }
}

.form {
    width: 100%;
    position: relative;
    height: 60px;
    overflow: hidden;
    margin-top: 10px;
}

.form input{
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline:none;
}
.form label{
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.form label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #A4C4B5;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #707672;
}

.form input:focus + .label-name::after,  
.form input:valid + .label-name::after{
    transform: translateX(0%);
}

button{
    margin: 20px;
    padding: 5px 30px;
    border-radius: 50px;
    background-color: #595f6e;
    
}