<div class="container-fluid login-box">
  <div class="login-box-main row">
    <div class="col-xs-12 col-md-6 login__image">
      <img src="./assets/images/Wallpaper.jpg" class="">
    </div>
    <div class="col-xs-12 col-md-6 login__content">
      <div class="h2 login__content__title text-center">Avocado</div>
      <div class="login__content__description text-center">
        Welcome to Avocado
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="login__content__form">

          <div class="form">
            <input type="text" name="username" autocomplete="off" required formControlName="username">
            <label for="username" class="label-name">
              <span class="content-name">Username or Email</span>
            </label>
          </div>
          <div *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched" class="error">
            <span>Please enter valid email!</span>
          </div>
          <div class="form">
            <input type="password" name="password" autocomplete="no" required formControlName="password">
            <label for="password" class="label-name">
              <span class="content-name">Password</span>
            </label>
          </div>
          <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" class="error">
            <span>Please enter valid password!</span>
          </div>
        </div>
        <div class="row justify-content-end text--forgot-password r-0">
          <span class="link">Forgot password?</span>
        </div>
        <div class="row justify-content-center">
          <button type="submit" class="btn btn-secondary" [disabled]="loginForm.invalid">Sign in</button>
        </div>
      </form>
      <div class="row justify-content-center mt-10-p">
        <span>—————— or ——————</span>
      </div>
      <div class="row justify-content-center mt-10-p">
        <div class="icon--google">
          <img src="/assets/images/google-icon.png">
        </div>
        <div class="btn-google">
          <a>Sign in with Google</a>
        </div>
      </div>
      <div class="row justify-content-center mt-10-p">
        <span>New Avacado? <a class="link">Create Account</a></span>
      </div>
    </div>
  </div>
</div>
